.RightConInSaved {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
  align-items: center;
  background-color: black;
  overflow-y: auto;
  height: 100vh;
}
.SavedVidConDetails {
  width: 90%;
  background-color: grey;
  margin-top: 23px;
  min-height: 20vh;
  display: flex;
  align-items: center;
  padding-left: 23px;
}
.NOTFOUNDCon {
  width: 50%;
}
.notfound {
  width: 100%;
}
.RightConinSavedDetials {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  height: 20vh;
  padding-left: 23px;
  color: white;
}
.ImgConHolder {
  width: 20%;
}
.imgTHUMbail {
  border-radius: 10px;
  width: 100%;
}
