.LowerConInHome {
  display: flex;
}
.LeftCon {
  width: 15%;
  background-color: black;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  border-style: solid;
  border-top: 0px;
  border-width: 0.5px;
}
.MainDiv {
  display: flex;
  flex-direction: column;
  max-height: 100vh;
}
.RightCon {
  padding-top: 43px;
  background-color: black;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 23px;
  overflow-y: hidden;
}
.leftConDetailsRow {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
}
.BIPLUS {
  margin-right: 13px;
}
