.LowerConInHome {
  display: flex;
}
.LeftCon {
  width: 15%;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
  border-style: solid;
  border-top: 0px;
  border-width: 0.5px;
}
.MainDiv {
  display: flex;
  flex-direction: column;
}
.RightCon {
  background-color: white;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 23px;
  overflow: auto;
}
.leftConDetailsRow {
  display: flex;
  align-items: center;
  justify-content: center;
}
.BIPLUS {
  margin-right: 13px;
}
