.videoPlayer {
  width: 100%;
  height: 50vh;
}
.indetails {
  width: 80%;
  display: flex;
  justify-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 100vh;
}
.inVideoDetails {
  width: 4%;
  display: flex;
}
.invideoPo {
  margin-top: 13px;
  display: flex;
  justify-content: space-between;
}
.divBtnCon {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: flex-end;
}
.Likee {
  margin-right: 23px;
}
